In [15]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json
import matplotlib.pyplot as plt
from pprint import pprint

from config import wsapikey
from config import censuskey

In [16]:
#CookCo
cookco ='cookco_zips.csv'
census = 'census_data_chi_zips.csv'
walkscore = 'chi_zip_scores.csv'

In [24]:
cookco_table= pd.read_csv(cookco)
census_table= pd.read_csv(census)
ws_table= pd.read_csv(walkscore, delimiter=",")

In [18]:
ws_table.head()

,Unnamed: 0,Unnamed: 0.1,zipcode,walkscore,transitscore,bikescore,ZIP,LAT,LNG
0,0,0,60601.0,95,100.0,84.0,60601,41.885310,-87.622116
1,1,1,60602.0,93,100.0,86.0,60602,41.883073,-87.629149
2,2,2,60603.0,98,100.0,87.0,60603,41.880188,-87.625509
3,3,3,60604.0,98,100.0,88.0,60604,41.878095,-87.628461
4,4,4,60605.0,71,91.0,91.0,60605,41.867566,-87.617228

In [11]:
cookco_table.head()

,Unnamed: 0,ZipCode,HousingUnits,Population,Households,Families,MedianAge,MedianHouseholdIncome,MedianHomeValue
0,0,60601,39837.0,69283.0,36483.0,11773.0,38.1,53846.0,291335.0
1,1,60602,11257.0,21344.0,10582.0,3906.0,34.1,82834.0,390663.0
2,2,60603,20121.0,49333.0,16940.0,11128.0,35.1,27447.0,193626.0
3,3,60605,6004.0,14354.0,5654.0,3515.0,36.5,48332.0,175132.0
4,4,60606,43988.0,71331.0,40641.0,10371.0,32.4,89069.0,436891.0

In [25]:
census_table.head()

  ,Zipcode,Area,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0  0,60601,(Chicago),9732.0,36.6,95556.0,89136.0,...
1  1,60602,(Chicago),1463.0,32.4,79957.0,66748.0,...
2  2,60603,(Chicago),882.0,26.1,107419.0,73239.0,...
3  3,60604,(Chicago),415.0,54.0,132188.0,135807.0...
4  4,60605,(Chicago),24972.0,33.1,75426.0,58338.0...

In [13]:
merge_table1 = pd.merge(cookco_table, ws_table, left_on="ZipCode", 
                       right_on='zipcode', how='left')

merge_table1.head()

,Unnamed: 0_x,ZipCode,HousingUnits,Population,Households,Families,MedianAge,MedianHouseholdIncome,MedianHomeValue,Unnamed: 0_y,Unnamed: 0.1,zipcode,walkscore,transitscore,bikescore,ZIP,LAT,LNG
0,0,60601,39837.0,69283.0,36483.0,11773.0,38.1,53846.0,291335.0,0.0,0.0,60601.0,95.0,100.0,84.0,60601.0,41.885310,-87.622116
1,1,60602,11257.0,21344.0,10582.0,3906.0,34.1,82834.0,390663.0,1.0,1.0,60602.0,93.0,100.0,86.0,60602.0,41.883073,-87.629149
2,2,60603,20121.0,49333.0,16940.0,11128.0,35.1,27447.0,193626.0,2.0,2.0,60603.0,98.0,100.0,87.0,60603.0,41.880188,-87.625509
3,3,60605,6004.0,14354.0,5654.0,3515.0,36.5,48332.0,175132.0,4.0,4.0,60605.0,71.0,91.0,91.0,60605.0,41.867566,-87.617228
4,4,60606,43988.0,71331.0,40641.0,10371.0,32.4,89069.0,436891.0,5.0,5.0,60606.0,97.0,100.0,87.0,60606.0,41.882066,-87.637349

In [ ]:
merge_table = pd.merge(merge_table1, census_table, left_on="ZipCode", 
                       right_on="zipcode",how="left")